@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,800&display=swap");
.menu_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_wrapper .heading, .menu_wrapper .input_field, .menu_wrapper .btn_info {
  font-family: Montserrat;
  font-size: 1.4rem;
}
.menu_wrapper .heading {
  margin: 0 0 1.2em 0;
}
.menu_wrapper .heading::-moz-selection {
  background-color: #fc4343;
}
.menu_wrapper .heading::selection {
  background-color: #fc4343;
}
.menu_wrapper .input_field {
  width: 14em;
  height: 1.8em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 1.2em 0;
  font-size: 1.6rem;
  text-align: center;
  border: solid 0.12rem #242323;
}
.menu_wrapper .btn_info {
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  background-color: #242323;
  border-radius: 0.5rem;
  border: solid 0.1em #242323;
  padding: 1em 4.8em;
  transition: ease-out 500ms;
}
.menu_wrapper .btn_info:hover {
  cursor: pointer;
  font-weight: 800;
  color: #fc4343;
  border: solid 0.2em #fc4343;
  background-color: white;
}

.picture_section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0 2% 0 2%;
}
.picture_section .picture_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 33vw;
}
.picture_section .picture_block .picture {
  height: 86%;
  width: 82%;
  border-radius: 2em;
  opacity: 0.5;
  transition: ease-in 500ms;
}
.picture_section .picture_block .picture:hover {
  opacity: 0.85;
}
.picture_section .picture_block .picture_left:hover {
  -webkit-animation: 1100ms ease picture_left_motion;
          animation: 1100ms ease picture_left_motion;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.picture_section .picture_block .picture_right:hover {
  -webkit-animation: 1100ms ease picture_right_motion;
          animation: 1100ms ease picture_right_motion;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes picture_left_motion {
  100% {
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 0.2em 0.8em 1em 0.2em rgba(0, 0, 0, 0.3);
  }
}
@keyframes picture_left_motion {
  100% {
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 0.2em 0.8em 1em 0.2em rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes picture_right_motion {
  100% {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0.2em 0.8em 1em 0.2em rgba(0, 0, 0, 0.3);
  }
}
@keyframes picture_right_motion {
  100% {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0.2em 0.8em 1em 0.2em rgba(0, 0, 0, 0.3);
  }
}

.film_section {
  margin: 18% 0 18% 0;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
}
.film_section .film_section_heading {
  color: #242323;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 800;
}
.film_section .film_section_subheading {
  color: #242323;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin: 1% 0 5% 0;
}
.film_section .film_section_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.film_section .film_section_slider .person {
  width: 22em;
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  margin-right: 5%;
  border: solid 0.1em #242323;
  border-radius: 1em;
}
.film_section .film_section_slider .person .person_info_line {
  color: #242323;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem;
}
.film_section .film_section_slider .person .person_info_line:not(:last-child) {
  margin: 0 0 0.8em 0;
}

.planet_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22% 0 22% 0;
  flex-direction: column;
}
.planet_section .heading {
  margin-bottom: 1em;
}
.planet_section .heading, .planet_section .btn_info {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
}
.planet_section .heading::-moz-selection {
  background-color: #fc4343;
}
.planet_section .heading::selection {
  background-color: #fc4343;
}
.planet_section .btn_info {
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  background-color: #242323;
  border-radius: 0.5rem;
  border: solid 0.1em #242323;
  padding: 1em 4.8em;
  transition: ease-out 500ms;
}
.planet_section .btn_info::-moz-selection {
  background-color: #fc4343;
}
.planet_section .btn_info::selection {
  background-color: #fc4343;
}
.planet_section .btn_info:hover {
  cursor: pointer;
  font-weight: 800;
  color: #fc4343;
  border: solid 0.2em #fc4343;
  background-color: white;
}
.planet_section .planets_list {
  margin: 22% 0 0 0;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(5, 15em);
  row-gap: 4em;
}
.planet_section .planets_list .cell {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.4rem;
  color: #242323;
  background-color: none;
  text-align: center;
  transition: ease 400ms;
  text-decoration: none;
}
.planet_section .planets_list .cell:hover {
  font-weight: 600;
  color: #fc4343;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */